@page "/"
@using MudBlazor

<MudContainer MaxWidth="MaxWidth.Large">
    <!-- Hero -->
    <MudPaper Class="pa-6 text-center" Style="background-image:url('images/title.jpg'); background-size:cover; color:white;">
        <MudText Typo="Typo.h2">Benvenuti al nostro Salone</MudText>
        <MudText Typo="Typo.subtitle1">Scopri le auto più esclusive</MudText>
        <MudButton Variant="Variant.Filled" Color="Color.Primary">Scopri</MudButton>
    </MudPaper>

    <!-- Carousel -->
    <MudCarousel Class="mud-width-full" Style="height:700px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="true" TData="object">
        <MudCarouselItem>
            <img src="images/car1.jpg" alt="Auto 1" style="width:100%; height:100%; object-fit:cover;" />
        </MudCarouselItem>
        <MudCarouselItem>
            <img src="images/car2.jpg" alt="Auto 2" style="width:100%; height:100%; object-fit:cover;" />
        </MudCarouselItem>
        <MudCarouselItem>
            <img src="images/car3.jpg" alt="Auto 3" style="width:100%; height:100%; object-fit:cover;" />
        </MudCarouselItem>
    </MudCarousel>

    <!-- Info cards -->
    <MudGrid Class="my-6" Spacing="3">
        <MudItem xs="12" sm="4">
            <div data-aos="fade-up">
                <MudCard>
                    <MudCardContent>
                        <MudText Typo="Typo.h6">Marchi Premium</MudText>
                        <MudText>Auto dei migliori marchi italiani e internazionali.</MudText>
                    </MudCardContent>
                </MudCard>
            </div>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h6">Promozioni</MudText>
                    <MudText>Scopri le nostre offerte speciali.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudCard>
                <MudCardContent>
                    <MudText Typo="Typo.h6">Assistenza</MudText>
                    <MudText>Supporto dedicato e consulenza per ogni auto.</MudText>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>